.ticketwarning {
            list-style: none;
        }

        .smalltext li {

            border: 0.5px solid red;
            font-size: 10px;
            color: red;
            list-style: none;
        }

        .table_detail01 {
            margin-left: 30px;
            float: left;
            width: 50%;
            word-break: break-all;
        }

        .remenu1 {
            background-color: rgba(0, 0, 0, 0.0);
        }

        .price_info {
            width: 100%;
        }

        .price_info th,
        .price_info td,
        .price_info tr {
            border: solid 1px #eeeeee;
            padding: 10px;
        }

        .price_info td {
            padding-right: 300px;
        }

        .table_img {
            margin: 20px 10px 10px 0px;
            float: left;
            width: 30%;
        }

        .face_detail {
            width: 70%;
            margin-left: 50px;
            float: left;

        }

        .face_img {
            float: left;

            margin-right: 0px 10px 0px 0px;
        }

        .face_job {
            float: left;
        }

        .poster_img {
            float: left;
        }

        .container {
            margin: 0 auto;
            width: 80%;
        }

        .hr-1 {
            border: 0;
            height: 3px;
            background-color: black;
        }

        .hr-2 {
            border: 0;
            height: 50px;
            background: white;

        }

        .container-2 {
            margin: 0 auto;
            width: 70%;
        }

        .tab_hr1 {
            margin-top: 10px;
            height: 1px;
            background: black;
        }

        .tab_hr2 {
            height: 1px;
            background: #eeeeee;
        }

        .tab_hr3 {
            height: 1px;
            background: black;
        }

        .tab_hr4 {
            height: 1px;
            background: #eeeeee;
        }

        .tab_hr5 {
            height: 1px;
            background: black;
        }

        .tab_hr55 {
            height: 1px;
            background: #eeeeee;
        }

        .tab_hr6 {
            height: 1px;
            background: black;
        }

        .tab_hr7 {
            height: 1px;
            background: #eeeeee;
        }

        .reservationbtn {
            position: relative;
            top: 20px;
            left: 50%;
            width: 10%;
            margin: 0 auto;
            padding: 0 auto;

        }

        .reservation_btn {
            margin: 0 auto;
        }

        .tab2_hr1 {
            border: 0px;
            height: 3px;
            background: black;
        }

        .tab2_hr3 {
            border: 0px;
            height: 3px;
            background: black;
        }