
	 .pay4 .innerpay {
            
            margin-top: 100px;
            color: black;
        }

        .seat-a > checkbox {
            text-align: center;
        }

        table.myinfo {

            font-size: 11px;
            float: left;
            border-collapse: collapse;
            text-align: left;
            line-height: 1.5;
            margin: 20px 10px;
        }

        .left-content4 td {
            background: white;

        }

        table.myinfo th {
            width: 150px;
            padding: 10px;
            font-weight: bold;
            vertical-align: top;
            border: 1px solid #ccc;
        }

        table.myinfo td {
            width: 350px;
            padding: 10px;
            vertical-align: top;
            border: 1px solid #ccc;
        }

        .right-image3 {
            float: right;
            width: 13.3%;

            position: relative;

            bottom: 185px;
            margin-left: 340px;

            box-shadow: 5px 5px 5px;
            margin-right: 150px;

        }

        .lefttable th,
        .lefttable td,
        .lefttable tr {
            border: 1px solid #ccc;
            padding: 10px;
        }

        .lefttable {
            margin-left: 10px;
        }

        .right-image {
            float: right;
            width: 20%;

            position: relative;

            bottom: 55px;
            margin-left: 350px;
            margin-bottom: 30px;
            box-shadow: 5px 5px 5px;
            ;
        }

        p {
            margin: 0px 0px;
        }

        .right-detail-bottom {
            float: right;
            width: 25%;
            position: relative;
            left: 15px;
            font-size: 13px;
        }

        .topbox {
            background: linear-gradient(to bottom, #4c4c4c, #3f3f3f, #232323);
            height: 120px;
            width: px;
            color: white;
            font-size: 20px;
            
            padding: 0px 0px 0px 0px;

        }

        .right-detail-top {

            position: absolute;
            float: left;
            left: 730px;
            font-size: 12px;
            color: white;
            top: 120px;
        }

        .container {
            background: #f1eeec;

        }

        .col-n {
            padding: 0px;
        }

        .topbox2 {
            background: linear-gradient(to bottom, #4c4c4c, #3f3f3f, #232323);

        }

        .contentline {
            background: black;
        }

        .content2 {
            float: right;
            width: 45%;
        }

        .content2 td {
            background: white;
        }

        .content3 td {
            background: white;
        }

        .content4 td {
            background: white;
        }

        .content3 {
            float: right;
            margin-right: 30px;
            position: relative;
            bottom: 100px;
            width: 35%;
        }

        .rightcontent {
            float: right;

            width: 67%;
            margin-right: 80px;
        }

        .right-detail-bottom {
            float: right;
            position: relative;
            right: 30px;
        }

        .nextbtn {
            margin-left: 100px;
            width: 50%;
        }

        .left-content1 {
            color: black;
            margin-top: 200px;
            margin-left: 10px;
            height: 300px;
            width: 500px;
            background: white;
        }

        .seatpyo {
            border: 1px solid #ccc;
            text-align: center;
            font-size: 15px;
        }

        .left-content2 {

            color: black;
            font-size: 14px;
            margin-top: 250px;
            margin-left: 20px;

            height: 230px;
            width: 500px;

            opacity: 1.0;
        }

        .right-content2 {
            float: right;
            width: 67%;
            margin-right: 80px;
            position: relative;
            bottom: 380px;
            color: black;
        }


        .right-content3 {
            float: right;
            width: 67%;
            margin-right: 100px;
            position: relative;
            bottom: 680px;
            color: black;
        }

        .rightcontent3 {
            float: right;

            width: 67%;
            margin-right: 100px;
        }

        .right-detail-bottom3 {
            float: right;
            font-size: 13px;
            position: relative;
            right: 140px;
            bottom: 130px;
        }

        .seat-a {
            text-align: center;
            border: 1px;

        }

        .seat-a input {
            text-align: center;
        }

        .textarea {

            float: left;
        }

        .left-content3 {
            margin-top: 10px;

            margin: 10px auto;
        }

        .left-content3 > td {
            background-color: white;
        }

        .right-content4 {
            float: right;
            width: 67%;
            margin-right: 100px;
            position: relative;
            bottom: 900px;
            color: black;
        }

        .rightcontent4 {
            float: right;
            position: relative;

            width: 67%;
            margin-right: 100px;
        }

        .right-detail-bottom4 {
            float: right;
            font-size: 13px;
            position: relative;
            right: 30px;
            bottom: 420px;
        }

        .nextbtn4 {
            margin-left: 100px;
            width: 50%;

        }

        .right-image4 {
            float: right;
            width: 20%;

            position: relative;
            right: 30px;
            bottom: 500px;

            margin-left: 300px;
            margin-right: 20px;
            margin-bottom: 30px;
            margin-top: 20px;
            box-shadow: 5px 5px 5px;
            ;
        }

        .content4 {
            float: right;
            width: 45%;
            position: relative;
            bottom: 450px;
            left: 50px;
        }
        .seat-total{
            background: white;
            opacity: 0.7;
            font-size: 12px;
        }
<!--위까지는 newPayview -->

.ticketwarning {
            list-style: none;
        }

        .smalltext li {

            border: 0.5px solid red;
            font-size: 10px;
            color: red;
            list-style: none;
        }

        .table_detail01 {
            margin-left: 30px;
            float: left;
            width: 50%;
            word-break: break-all;
        }

        .remenu1 {
            background-color: rgba(0, 0, 0, 0.0);
        }

        .price_info {
            width: 100%;
        }

        .price_info th,
        .price_info td,
        .price_info tr {
            border: solid 1px #eeeeee;
            padding: 10px;
        }

        .price_info td {
            padding-right: 300px;
        }

        .table_img {
            margin: 20px 10px 10px 0px;
            float: left;
            width: 30%;
        }

        .face_detail {
            width: 70%;
            margin-left: 50px;
            float: left;

        }

        .face_img {
            float: left;

            margin-right: 0px 10px 0px 0px;
        }

        .face_job {
            float: left;
        }

        .poster_img {
            float: left;
        }

        .container {
            margin: 0 auto;
            width: 80%;
        }

        .hr-1 {
            border: 0;
            height: 3px;
            background-color: black;
        }

        .hr-2 {
            border: 0;
            height: 50px;
            background: white;

        }

        .container-2 {
            margin: 0 auto;
            width: 70%;
        }

        .tab_hr1 {
            margin-top: 10px;
            height: 1px;
            background: black;
        }

        .tab_hr2 {
            height: 1px;
            background: #eeeeee;
        }

        .tab_hr3 {
            height: 1px;
            background: black;
        }

        .tab_hr4 {
            height: 1px;
            background: #eeeeee;
        }

        .tab_hr5 {
            height: 1px;
            background: black;
        }

        .tab_hr55 {
            height: 1px;
            background: #eeeeee;
        }

        .tab_hr6 {
            height: 1px;
            background: black;
        }

        .tab_hr7 {
            height: 1px;
            background: #eeeeee;
        }

        .reservationbtn {
            position: relative;
            top: 20px;
            left: 50%;
            width: 10%;
            margin: 0 auto;
            padding: 0 auto;

        }

        .reservation_btn {
            margin: 0 auto;
        }

        .tab2_hr1 {
            border: 0px;
            height: 3px;
            background: black;
        }

        .tab2_hr3 {
            border: 0px;
            height: 3px;
            background: black;
        }
<!--Reservationview-->끝
.slideVisual:after{
        background-image: url('img//sportsview01//epl.jpg');
        content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;


    }
        .slideVisual {
            margin: 10px auto;
            position: relative;
        }
        

        .slideVisual>.container {
            width: 50%;
            margin: 0 auto;
            padding: 0 auto;


        }

        .mainVisualtype1 {
            float: left;
            margin-left: 8%;

        }

        .sportsbutton {
            margin-left: 8%;
            position: relative;
            bottom: 50px;
            width: 214px;
            height: 50px;
            font-size: 17px;
        }

        .sportsSidemenu>div>button {
            border: 1px solid skyblue;
            background-color: white;
            color: BLACK;
            width: 214px;
            text-align: left;

        }
        .sportsSidemenu{
            margin: 0 auto;
            margin-left:30%;
            
        }
        .soccerbtn{
            background-image: url('img//sportsview01//football_top.jpg');
            background-size:100%;
            width:200px;
            text-shadow:-1px 0 #000000, 0 1px  #000000, 1px 0  #000000, 0 -1px  #000000;
            font-size: 16px;
            
            
           
        }
        .baseballbtn{
            background-image: url('img//sportsview01//baseball.jpg');
            background-size: 30%;
            width:200px;
            text-shadow:-1px 0 #000000, 0 1px  #000000, 1px 0  #000000, 0 -1px  #000000;
            font-size: 16px;
        }
        .basketballbtn{
            background-image: url('img//sportsview01//basket.jpg');
            background-size: 30%;
            width:200px;
            text-shadow:-1px 0 #000000, 0 1px  #000000, 1px 0  #000000, 0 -1px  #000000;
            font-size: 16px;
        }


        .items {

            display: flex;
            padding-left: 30%;
            position: relative;
            margin-top:40px;
            margin-bottom:30px;
            z-index:;
        }

        .items>ul {
            display: inherit;
            text-align: center;
        }


        .teamMatch {

            border: 1px skyblue solid;
            background: white;
            display: inline-block;
        }

        .items .team1 {
            float: left;
        }

        .items .team2 {
            float: right;
        }
        .matchDate{
            width:200px;
        }
        .teamMatch{
            width:200px;
        }
<!-- T-sportsview01-->
        