@charset "utf-8";

/* index */

/*웹폰트 선언*/
        @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
        /*디자인 시작시 기본선언*/
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body, html {
            
            width: 100%;
            font-family: 'Noto Sans KR', sans-serif;
             margin: 0 auto;
            float: none;
           vertical-align:baseline;
        }
        img {
            max-width: 100%; /*사이즈가 줄더라도 100%넓이를 유지*/
            height: auto; /*사이즈가 줄더라도 높이 유지*/
        }
        /*브라우저별로 고유하게 적용되어 있는 form요소들을 제거해서 여러브라우저에서 동일한 디자인으로 처리*/
       
        ul, li, ol, dl {
            list-style: none; /*순서 요소들의 리스트 스타일을 제거*/
        }


.title { width: 980px; margin: 70 auto; }
.h2 { position: relative; padding: 55px 0 20px; font-size: 36px; color:#222; line-height: 100%; text-align: left; font-weight: normal; }
.h2:after { content: ""; position: absolute; left: 48%; bottom: 0; width: 950px; height: 2px; background:black; transform: translateX(-50%);}
.h2 + p { padding:46px 0 54px; font-size: 18px; color:#666; text-align: center; line-height: 30px;}
.h3 { margin: 30px 0 20px; font-size:20px; color:#222; font-weight: bold;list-style:none;   }
/*.h3:before { content: ""; display: inline-block; margin: 0 8px 0 0; width: 4px; height: 4px; background: #00a5e1; vertical-align:5px;}*/
.h3 span{color: #ef3f43; font-size: 20px;
    padding-left: 20px; font-style:0; text-align: left;
    vertical-align: baseline;
    font-weight: bold; margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    }s
.noti { font-size: 14px; color:#888;}
.noti:before { content: ""; display: inline-block; margin: 0 3px 0 0; width: 15px; height: 15px; background: url("../images/icon.png") no-repeat -336px -5px; vertical-align: -3px;}

.iCheckbox {
    line-height: 20px;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

.iCheckbox label{
    display: inline-block;
    height: 22px;
    
    color: #333;
    font-size: 14px;
    
}


input[type="checkbox"] { 
    
    width: 22px;
    height: 22px;
    margin-top: 3px;
    margin-left: 3px;
    border-radius:0;
    vertical-align: middle;
    position: absolute;
    width: 22px;
    }
input[type="checkbox"] + label { padding-left: 30px; color:#7B7A7B; display: inline-block;line-height: 27px;vertical-align: middle;}
/*input[type="checkbox"] + label:before { content: ""; display: inline-block; margin: 0 8px 0 0; width: 27px; height: 27px; vertical-align:-8px;}*/


.btn_center { text-align: center;  padding:7px ;  }
label + .btn_center { padding: 65px 0 0;}
.btn_type1 { display: inline-block; width: 120px; height:45px; 
    background: #EF3F43; text-align: center; line-height: 45px; color:#fff; font-size: 18px; margin-top: 20px; margin-bottom: 30px; text-decoration-style: none;}
.btn_type2{  display: inline-block; text-align: center; width:82px; height:40px; 
    background-color:black; color:#fff; font-size: 14px;  text-decoration-style: none;  padding:  8px; box-sizing: border-box;vertical-align: middle;}

table{width: 100%;}

tbody th,
tbody td{height:40px; padding: 20px 0; border-top: 1px solid #ccc; }

tbody th{ font-size:13px;background-color: #F4F6F9; padding:10px 10px 10px 45px; text-align: left; font-weight: normal; font-size: 13px; color: black; 
}
tbody th span{overflow: hidden; color: #ef3f43;vertical-align: middle; margin:0px 6px 0px 3px; }
tbody td{padding:10px 23px;  }

tbody {border-top:2px solid #B6BDC7; border-bottom: 1px solid #999;}
/*table .type1 th,
table .type1 td{height:40px; padding: 20px 0; border-top: 1px solid #ccc; border-left: 1px solid #ccc;}*/

tbody tr:first-child th,
tbody tr:first-child td{ border-top: none }

tbody td input[type="text"]
tbody td input[type="tel"]
tbody td input[type="number"]{height:38px;line-height: 38px;  }






/*.tooltipWrap .tipLayerBox .tipList li {
  color: #999;
  font-size: 10px;
  line-height: 17px;
  padding-left: 8px;
  letter-spacing: -1px;
  font-weight: 300;
  font-family: "Noto Sans KR", -apple-system, "Helvetica Neue", Helvetica, sans-serif;
}*/



  /*@media (max-width:767px){
            aside{
                display: none;
            }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
    margin-left: 120;  
      padding-left: 50;
  }
}*/